@import 'styles';

.form-container {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 400px;
  background-color: white;
  border-radius: 10px;
  margin-left: 20px;
  h1 {
    text-align: center;
  }
  form {
    margin: auto;
    width: 80%;
    mat-form-field {
      width: 100%;
      text-align: center;
    }
    button {
      margin-top: 70px;
      width: 100%;
    }
  }
}
