<div class="form-container">
  <h1>{{ registerTitle | uppercase }}</h1>
  <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" #f="ngForm" novalidate>
    <mat-form-field>
      <mat-label>{{ pseudoInputTitle }}</mat-label>
      <input id="username" matInput placeholder="{{ pseudoPlaceholder }}"
      formControlName="username" />
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>{{ emailInputTitle }}</mat-label>
      <input id="email" matInput placeholder="{{ emailPlaceholder }}"
      formControlName="email" />
    </mat-form-field>
    <br>
    <mat-form-field hintLabel="{{ passwordInputControl }}">
      <mat-label>{{ passwordInputTitle }}</mat-label>
      <input id="password" matInput #input minlength="8" placeholder="{{ passwordPlaceholder }}" [type]="hide ? 'password': 'text'"
      formControlName="password" />
        <mat-hint align="end">{{input.value?.length || 0}}/8</mat-hint>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
    <br>
    <button mat-button type="submit" class="mat-raised-button mat-primary" [disabled]="!registerForm.valid">
      {{ registerInstructionButton | uppercase }}
    </button>
    <!-- <div class="form-group"> -->
      <!-- <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
        Login failed: {{ errorMessage }}
      </div> -->
    <!-- </div> -->
  </form>
</div>
