<navbar [items]="navBarItems"></navbar>
<div id="chat-container">
  <div #scroller id="chat-message-list" class="feedWrapper">
    <ul class="msg">
      <li id="bubble" *ngFor="let message of messages; let i = index">
        <div class="message-row other-message">
          <span id="username">
            {{ message.username | uppercase }}
          </span>
          <span id="language" style="font-size: 10px; color: rgb(148, 148, 148);">
            (speaks
            {{ message.language }}
            ) :
          </span>
          <span class="message-details">{{ date | date: 'short' }}</span>
          <div class="message-text">
            {{ message.text }}
            <span id="provider">... translate by
              {{ message.provider }}
            </span>
            <div class="row message-option">
              <span>{{ translationButton }}</span>
              <div class="change-target">
                <app-changeTarget title={{message.text}}></app-changeTarget>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div id="chat-form">
    <app-messageSender></app-messageSender>
  </div>

</div>
