.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 4.5%;
}
.countryName {
  color: #3e51b5;
  text-align: center;
  // position: absolute;
  // top: 0;
  // left: 0;
  font-size: 30px;
  z-index: 300;
}
.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}
