.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 4.5%;
}
.map-frame {
  border: 2px solid black;
  height: 100%;
}
#map {
  height: 100%;
}
.toggle-btn {
  margin-left: 85%;
}
mat-sidenav-container {
  height: 100%;
}
mat-sidenav, mat-sidenav-content {
  padding: 16px;
}
mat-sidenav {
  background-color: lightcoral;
  width: 40%;
}
