<div class="medium-list">
  <div class="list-view-wrapper">
    <div class="list-header-title">LOGIN</div>

    <form [formGroup]="loginForm" *ngIf="!isLoggedIn" (ngSubmit)="loginForm.valid && onLoginSubmit()" #f="ngForm" novalidate>
      <div class="form-container">
        <mat-form-field>
          <input id="username" matInput formControlName="username" [(ngModel)]="user.username"
            placeholder="Saisissez votre nom" />
        </mat-form-field>

        <mat-form-field hintLabel="8 caractères minimum" appearance="fill">
          <input id="password" matInput #input minlength="8" formControlName="password" [(ngModel)]="user.password"
            placeholder="Saisissez votre mot de passe" [type]="hide ? 'password': 'text'" />
            <mat-hint align="end">{{input.value?.length || 0}}/8</mat-hint>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>

        <button mat-button type="submit" class="mat-raised-button mat-primary"
          [disabled]="!loginForm.valid">Valider</button>
        <!-- <button mat-button routerLink="/register" class="divider">Register</button> -->
        <div class="form-group">
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && isLoginFailed"
          >
            Login failed: {{ errorMessage }}
          </div>
        </div>
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isLoggedIn">
      Logged in as {{ user.username }}.
    </div>
  </div>
</div>
