<navbar [items]="navBarItems"></navbar>
<div class="home-header">
  <!-- <div class="logo"></div> -->
  <!-- <h1>{{title}}</h1> -->
</div>
<div class="home-content">
  <div class="pe">
    <div class="pe-nav">
      <button mat-fab color="primary" value="PE" (click)="handleClick($event)" routerLink="/auth">CONSEILLER</button>
    </div>
  </div>
  <div class="picture"></div>
  <div class="de">
    <div class="de-nav">
      <button mat-fab value="DE" (click)="handleClick($event)" routerLink="/map">CANDIDAT</button>
    </div>
  </div>
</div>
    <div class="advantages">
      <div class="pe-advantages">
        <mat-card>
          <h3>AVANTAGES CONSEILLER</h3>
          <hr>
          <mat-card-content>
            <ul>
              <li>
                <mat-icon>translate</mat-icon>
                Envoyez & recevez des messages en français
              </li>
              <li>
                <mat-icon>people</mat-icon>
                Discutez simultanément avec des candidats
              </li>
              <li>
                <mat-icon>calendar_today</mat-icon>
                Organisez vos rendez-vous avec les candidats
              </li>
              <li>
                <mat-icon>history</mat-icon>
                Gardez un historique de vos conversations
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="de-advantages">
        <mat-card>
          <h3>AVANTAGES CANDIDAT</h3>
          <hr>
          <mat-card-content>
            <ul>
              <li>
                <mat-icon>translate</mat-icon>
                Choisissez votre langue de discussion
              </li>
              <li>
                <mat-icon>people</mat-icon>
                Discutez simultanément avec d'autres candidats
              </li>
              <li>
                <mat-icon>calendar_today</mat-icon>
                Visualisez vos rendez-vous planifiés
              </li>
              <li>
                <mat-icon>history</mat-icon>
                Gardez un historique de vos conversations
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
    </div>


