<navbar [items]="navBarItems"></navbar>
<div class="home-container">
  <div class="home-header">
    <div class="sphere">
      <div class="container">
        <div class="globe__placeholder">
          <div class="globe__container">
            <div class="globe">
              <div class="globe__sphere"></div>
              <div class="globe__outer_shadow"></div>
              <div class="globe__reflections__bottom"></div>
              <div class="globe__worldmap">
                <div class="globe__worldmap__back backimg"></div>
                <div class="globe__worldmap__front backimg"></div>
              </div>
              <div class="globe__inner_shadow"></div>
              <div class="globe__reflections__top"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="baseline">
      <h2><span class="begin-h2">Pe</span><span class="middle-h2"> • </span><span class="end-h2">TRANSLATOR</span></h2>
      <p>Pas de frontière pour discuter !</p>
    </div>
  </div>
  <div class="home-content">
    <img
    [ngStyle]="{opacity: hover==true  ? '0' : '0.2' }"
    class="translate-icon"
    src="assets/icons/translate.svg"/>
    <div class="pe">
      <div class="pe-nav">
        <button
        mat-fab id="pe-btn"
        color="primary"
        value="PE"
        (click)="handleClick($event)"
        routerLink="/auth"
        (mouseover)="hover = true; btnDe = true; peAdvantages = true"
        (mouseleave)="hover = false; btnDe = false; peAdvantages = false"
        [ngStyle]="{opacity: btnPe==true  ? '0' : '1' }"
        >{{ advisorBtnValue | uppercase }}</button>
        <div class="pe-advantages" [ngStyle]="{display: peAdvantages==true  ? 'flex' : 'none' }">
          <mat-card>
            <h3>AVANTAGES CONSEILLER</h3>
            <hr>
            <mat-card-content>
              <ul>
                <li>
                  <mat-icon>translate</mat-icon>
                  Envoyez & recevez des messages en français
                </li>
                <li>
                  <mat-icon>people</mat-icon>
                  Discutez simultanément avec des candidats
                </li>
                <li>
                  <mat-icon>calendar_today</mat-icon>
                  Organisez vos rendez-vous avec les candidats
                </li>
                <li>
                  <mat-icon>history</mat-icon>
                  Gardez un historique de vos conversations
                </li>
              </ul>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="de">
      <div class="de-nav">
        <button
        mat-fab id="de-btn"
        value="DE"
        (click)="handleClick($event)"
        routerLink="/map"
        (mouseover)="hover = true; btnPe = true; deAdvantages = true"
        (mouseleave)="hover = false; btnPe = false; deAdvantages = false"
        [ngStyle]="{opacity: btnDe==true  ? '0' : '1' }"
        >CANDIDAT</button>
        <div class="de-advantages" [ngStyle]="{display: deAdvantages==true  ? 'flex' : 'none' }">
          <mat-card>
            <h3>AVANTAGES CANDIDAT</h3>
            <hr>
            <mat-card-content>
              <ul>
                <li>
                  <mat-icon>translate</mat-icon>
                  Choisissez votre langue de discussion
                </li>
                <li>
                  <mat-icon>people</mat-icon>
                  Discutez simultanément avec d'autres candidats
                </li>
                <li>
                  <mat-icon>calendar_today</mat-icon>
                  Visualisez vos rendez-vous planifiés
                </li>
                <li>
                  <mat-icon>history</mat-icon>
                  Gardez un historique de vos conversations
                </li>
              </ul>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
