@import 'styles';

.home-container {
  display: flex;
  .home-header {
    display: flex;
    flex-direction: column;
    width: 40%;
    .sphere {
      height: 400px;
      display: flex;
      align-items: center;
      align-self: center;
      .container {
        .globe__placeholder {
          -webkit-box-sizing: content-box;
          -moz-box-sizing: content-box;
          -webkit-border-radius: 6px;
          -moz-border-radius: 6px;
          box-sizing: content-box;
          border-radius: 6px;
          overflow: visible;
          position: relative;
          float: left;
          padding: 1.7em;
          margin: 0;
          margin-bottom: 16px;
          height: 200px; /* Unscaled is 200px. If 'globe__container' is scaled, multiply this value by scale() property, e.g. 200px * 0.5 = 100px */
          width:  200px; /* Unscaled is 200px. If 'globe__container' is scaled, multiply this value by scale() property, e.g. 200px * 0.5 = 100px */
          .globe__container {
            overflow: visible;
            position: relative;
            display: block;
            margin: 0;
            padding: 0;
            top: 0;
            left: 0;
            .globe {
              overflow: visible;
              position: relative;
              display: block;
              margin: 0;
              padding: 0;
              top: 0; left: 0;
              .globe__sphere {
                background-image: url(http://www.cakecounter.com/globe/white-blue/globe_images/sphere.svg); display: none;
              }
              .globe__outer_shadow {
                background-image: url(http://www.cakecounter.com/globe/white-blue/globe_images/outer_shadow.svg);
                left: 0; top: 186px; width: 200px; height: 30px;
                background-position: 0 0; background-repeat: no-repeat;
              }
              .globe__reflections__bottom {
                background-image: url(http://www.cakecounter.com/globe/white-blue/globe_images/reflections.svg); display: none;
                .globe__inner_shadow {
                  background-image: url(http://www.cakecounter.com/globe/white-blue/globe_images/inner_shadow.svg);
                }
                .globe__reflections__top {
                  background-image: url(http://www.cakecounter.com/globe/white-blue/globe_images/reflections.svg); display: none;
                }
              }
            }
          }
        }
      }
    }
    .baseline {
      height: 300px;
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      h2 {
        font-size: 50px;
        margin: 0px;
        .begin-h2 {
          color: #3f50b5;
        }
        .middle-h2 {
          color: #f08080;
        }
        .end-h2 {
          color: #3f50b5;
        }
      }
      p {
        font-size: 30px;
        color: #93908f;
      }
    }
  }
  .home-content {
    display: flex;
    flex-direction: column;
    width: 60%;
    .pe {
      position: relative;
      display: flex;
      justify-content: center;
      margin-top: 70px;
      .pe-nav {
        margin-bottom: 50px;
        button {
          width: 150px;
          height: 150px;
          z-index: 10;
        }
        button:hover + .pe-advantages {
          display: flex;
        }
        .pe-advantages {
          position: absolute;
          top: 70px;
          left: 380px;
          width: 60%;
          display: none;
          flex-direction: column;
          align-items: center;
          mat-card {
            background-color: #f5f5f5;
            h3 {
              padding-top: 10px;
              padding-bottom: 10px;
              text-align: center;
              color: #93908f;
              margin-bottom: 0px;
            }
            hr {
              max-width: 80%;
              margin-bottom: 10px;
              border-top: 0.5px solid #93908f;
            }
            mat-card-content {
              height: auto;
              background-color: white;
              border-radius: 10px;
              background-color: transparent;
              ul {
                list-style: none;
                font-size: 14px;
                li {
                  padding: 10px 10px 10px 10px;
                  color: #93908f;
                  mat-icon {
                    margin-right: 20px;
                    color: #93908f;
                  }
                }
              }
            }
          }
        }
      }
    }
    .de {
      display: flex;
      position: relative;
      margin-top: 80px;
      margin-left: 100px;
      .de-nav {
        margin-bottom: 50px;
        button {
          background-color: #f08080;
          width: 150px;
          height: 150px;
          z-index: 10;
        }
        button:hover + .de-advantages {
          display: flex;
        }
        .de-advantages {
          position: absolute;
          top: 70px;
          left: 70px;
          width: 60%;
          display: none;
          flex-direction: column;
          align-items: center;
          mat-card {
            background-color: #f5f5f5;
            h3 {
              padding-top: 10px;
              padding-bottom: 10px;
              text-align: center;
              color: #93908f;
              margin-bottom: 0px;
            }
            hr {
              max-width: 80%;
              margin-bottom: 10px;
              border-top: 0.5px solid #93908f;
            }
            mat-card-content {
              height: auto;
              background-color: white;
              border-radius: 10px;
              background-color: transparent;
              ul {
                list-style: none;
                font-size: 14px;
                li {
                  padding: 10px 10px 10px 10px;
                  color: #93908f;
                  mat-icon {
                    margin-right: 20px;
                    color: #93908f;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .advantages {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 50px;
    .de-advantages {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      mat-card {
        max-width: 80%;
        margin-top: 20px;
        background: linear-gradient(
          to right, #57c1eb 0%, #246fa8 100%
        );
        h3 {
          padding-top: 20px;
          padding-bottom: 20px;
          text-align: center;
          color: white;
        }
        hr {
          max-width: 80%;
          margin-bottom: 30px;
          border-top: 0.5px solid white;
        }
        mat-card-content {
          height: auto;
          background-color: white;
          border-radius: 10px;
          background-color: transparent;
          ul {
            list-style: none;
            font-size: 14px;
            li {
              padding: 10px 20px 10px 10px;
              color: white;
              mat-icon {
                margin-right: 30px;
                color: white;
              }
            }
          }
        }
      }
    }
  }
}

/**
Globe Elements
**/
.globe__worldmap,
.globe__worldmap__front,
.globe__worldmap__back,
.globe__sphere,
.globe__outer_shadow,
.globe__reflections__bottom,
.globe__inner_shadow,
.globe__reflections__top,
.globe__outer_shadow {
  position: absolute; display: block; margin: 0; right: auto; bottom: auto;
}
.globe__sphere,
.globe__outer_shadow,
.globe__reflections__bottom,
.globe__inner_shadow,
.globe__reflections__top {
  left: 0; top: 0; width: 200px; height: 200px;
  background-position: 0 0; background-repeat: no-repeat;
}

/* Circle mask for animated SVG files */
.globe__worldmap {
  left: 0; top: 0; width: 200px; height: 200px; overflow: hidden;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
          border-radius: 50%;
-webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.globe__worldmap__front,
.globe__worldmap__back {
  left: 0; top: 0; width: 1000px; height: 200px; overflow: visible;
  background-image: url(http://www.cakecounter.com/globe/white-blue/globe_images/worldmap_2x.svg);
  background-repeat: no-repeat;
}

.backimg{
  background-image: url(http://www.cakecounter.com/globe/blue-purple-gradient/globe_images/worldmap_2x.svg);
}

/**
Globe elements visibility options
**/
.globe__inner_shadow { background-image: url(http://www.cakecounter.com/globe/white-blue/globe_images/inner_shadow.svg);}
.globe__worldmap__front { background-position: 0px 0px;
animation: textureSpinreverse 8s linear infinite;
}
.globe__worldmap__back { background-position: 0px -220px;
    animation: textureSpin 8s linear infinite;
}

@keyframes textureSpin {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-47.5%);
  }
}


@keyframes textureSpinreverse {
  from {
    transform: translateX(-47.5%);
  }
  to {
    transform: translateX(0);
  }
}


@media screen and (max-width: 800px) {
  .home-header {
    margin-bottom: 20px;
    h1 {
      font-size: 30px;
      margin-bottom: 10px;
    }
    .logo {
      height: 100px;
      background-size: 12%;
    }
  }
  .home-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    .pe {
      width: 50%;
    }
    .picture {
      display: none;
    }
    .de {
      width: 50%;
    }
  }
}
