
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" position="end" (opened)="log('Opened')" (closed)="log('Closed')" [(opened)]="opened">
    <h2>{{title}}</h2>
    <p class="app-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus quam nobis consectetur architecto minima possimus suscipit excepturi ipsum laboriosam explicabo necessitatibus perferendis laborum labore, atque ratione maxime provident illo ducimus?</p>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <button class="toggle-btn" mat-raised-button (click)="sidenav.toggle()">{{toggleBtnMsg}}</button>
    <div class="logo">
      <h1>{{title}}</h1>
    </div>
    <app-home (type)="getUserType($event)"></app-home>
    <app-map *ngIf="userType == 'DE';"></app-map>
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>



<!-- https://www.youtube.com/watch?v=jUfEn032IL8    57:44  -->
