
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" position="end" (opened)="log('Opened')" (closed)="log('Closed')" [(opened)]="opened">
    <h2>{{title}}</h2>
    {{countryName | uppercase}}
    <p class="app-info">
      PE•TRANSLATOR est l'outil permetant aux agents de Pôle emploi d'accompagner au mieux les demandeurs d'emploi non-francophone.
    </p>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <button class="toggle-btn" mat-raised-button (click)="sidenav.toggle()">{{toggleBtnMsg}}</button>
    <div class="logo">
      <h1>{{title}}</h1>
    </div>
    <app-home *ngIf="userType !== 'DE'" (type)="getUserType($event)"></app-home>
    <app-map *ngIf="userType == 'DE';" (country)="getCountryName($event)"></app-map>
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>



<!-- https://www.youtube.com/watch?v=jUfEn032IL8    57:44  -->
