@import 'styles';

mat-card {
  width: 60%;
  margin: auto;
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  background-color: black;
  height: 400px;
  opacity: 0.7;
  .register {
    margin: auto;
    width: 50%;
    text-align: center;
    color: white;
    h3 {}
    p {
      padding: 30px;
      text-align: justify;
    }
    button {}
  }
  .toto {
    background-color: red;
  }
  .login {
    margin: auto;
    width: 50%;
    text-align: center;
    color: white;
    h3 {}
    p {
      padding: 30px;
      text-align: justify;
    }
  }
}
