<navbar [items]="navBarItems"></navbar>
<mat-card>
  <div class="register" *ngIf="!show">
    <h3>{{ registerInstructionTitle | uppercase }}</h3>
    <p> {{ registerInstruction }}</p>
    <button mat-button (click)="toRegister()">{{ registerInstructionButton | uppercase }}</button>
  </div>
  <ng-container *ngIf="show">
    <app-register></app-register>
  </ng-container>
  <div class="login" *ngIf="show">
    <h3>{{ loginInstructionTitle | uppercase }}</h3>
    <p>{{ loginInstruction }}</p>
    <button mat-button (click)="toLogin()">{{ loginInstructionButton | uppercase }}</button>
  </div>
  <ng-container *ngIf="!show">
    <app-login></app-login>
  </ng-container>
</mat-card>

