<navbar [items]="navBarItems"></navbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" position="end" (opened)="log('Opened')" (closed)="log('Closed')" [(opened)]="opened">
    <h2>{{ countryName | uppercase}}</h2>
    <hr *ngIf="countryName">
    <ul>
      <li *ngFor="let language of languages">
        <mat-icon>translate</mat-icon>
        <!-- <span class="language-name">{{ language | uppercase }}</span> &nbsp; -->
        <mat-slide-toggle>{{ language | uppercase }}</mat-slide-toggle>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="map-container">
      <button mat-raised-button (click)="sidenav.toggle()">{{toggleBtnMsg}}</button>
      <div class="map-frame">
        <div id="map" (mouseover)="highlightFeature($event)"></div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
