@import 'styles';

mat-sidenav-container {
  height: 100%;
  mat-sidenav {
    display: flex;
    padding: 16px;
    width: 20%;
    border: none;
    // background: linear-gradient(
    //   to right, #57c1eb 0%, #246fa8 100%
    // );
    background: #076585; /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #fff, #076585 ); /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #fff, #076585); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    hr {
      margin: 40px 0 50px 0;
    }
    ul {
      list-style: none;
      li {
        font-size: 14px;
        margin-bottom: 30px;
        color: lightgray;
        mat-icon {
          margin-right: 3%;
          vertical-align: middle;
          color: lightgray;
        }
        .language-name {
          font-size: 18px;
        }
      }
    }
    button {
    }
  }
  mat-sidenav-content {
    padding: 16px;
    background: white;
    .map-container {
      // background: pink;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin-top: 40px;
      margin-right: 150px;
      margin-left: 150px;
      height: 600px;
      button {
        position: absolute;
        top: 10px;
        right: 20px;
        z-index: 1000;
        background: white;
        // background: linear-gradient(
        //   to right, #57c1eb 0%, #246fa8 100%
        // );
      }
      .map-frame {
        border: 1px solid white;
        border-radius: 10px;
        height: 100%;
        #map {
          // background: #003973; /* fallback for old browsers */
          // background: -webkit-linear-gradient(to right, #003973, #e5e5be); /* Chrome 10-25, Safari 5.1-6 */
          // background: linear-gradient(to right, #003973, #e5e5be); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          height: 100%;
          border: 1px solid white;
          border-radius: 10px;
          // background: linear-gradient(45deg, black, transparent);
          .leaflet-pane {
            z-index: 1;
            border-radius: 10px;
          }
        }
      }
    }
  }
}

// MEDIA QUERIES

@media only screen and (max-width: 600px) {
  mat-sidenav-container {
    mat-sidenav {
      width: 40%;
      h2 {
        font-size: 20px;
        color: white;
      }
      ul {
        padding-left: 0!important;
        li {
          mat-icon {}
          input {}
          label {}
        }
      }
      button {}
    }
    mat-sidenav-content {
      padding: 0;
      .map-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin-top: 0px;
        margin-right: 0px;
        margin-left: 0px;
        height: 100%;
        button {}
        .map-frame {
          border-radius: 0;
          #map {
            border-radius: 0;
          }
        }
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
