<navbar [items]="navBarItems"></navbar>

<div class="main">
  <div class="main-profil">
    <div class="container">
        <div class="header-container">
          <img src="https://s17.postimg.cc/ypm5ye95r/image.jpg" alt="" class="header-image" />
          <div class="header">
            <svg fill="#ffffff" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg" class="header-icon">
              <path d="M0 0h24v24H0z" fill="none"/>
              <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
            </svg>

            <svg fill="#ffffff" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg" class="u-float-right header-icon">
              <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
            </svg>
            <h1 class="main-heading">{{ pseudoValue }}</h1>
            <span *ngIf="professionValue" class="tag">{{ professionValue }}</span>
            <!-- <span class="tag">Producer</span> -->
            <div class="stats">
              <span class="stat-module">
                Age <span class="stat-number">{{ ageValue }}</span>
              </span>
              <span class="stat-module">
                Expérience <span class="stat-number">{{ experienceValue }}</span>
              </span>
              <span class="stat-module">
                Langue parlée <span class="stat-number">1</span>
              </span>
            </div>
          </div> <!-- END header -->
        </div>

        <div class="overlay-header"></div>

        <div class="body">
          <img src="https://s17.postimg.cc/xcbukrwdr/Hugh_Jackman_f.jpg" alt="Hugh Jackman" class="body-image" />
          <div class="body-action-button u-flex-center">
            <svg fill="#ffffff" height="28" viewBox="0 0 24 24" width="28" xmlns="http://www.w3.org/2000/svg">
              <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
            </svg>
          </div>
          <span class="body-stats">Followers <span>3.5k</span></span>
          <span class="body-stats">Following <span>1.9k</span></span>
          <div class="u-clearfix"></div>
          <div class="body-info">
            <p>
              {{ descriptionValue }}
            </p>
          </div>
        </div>
    </div>
  </div>

  <div class="profil-onsite-block">
    <div class="profil-onsite-title">
      <h3>mon espace</h3>
    </div>
    <div class="profil-onsite-block-2">
      <div class="profil-contact">
        <div class="body">
          <div class="header">
            <span>informations de contact</span>
          </div>
          <div class="network-content">
            <span class="network-item-content">
              <mat-icon>alternate_email</mat-icon>
              {{ emailValue }}
            </span>
            <span class="network-item-content">
              <mat-icon>smartphone</mat-icon>
              <span *ngIf="details?.phone">+33 {{ phoneValue }}</span>
            </span>
            <span class="network-item-content">
              <mat-icon>translate</mat-icon>
              {{ languageValue }}
            </span>
          </div>
          <div class="footer">
            <button mat-mini-fab class="edit-btn" color="primary" (click)="editProfil()">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="profil-activity">
        <div class="body">
          <div class="header">
            <span>informations utiles</span>
          </div>
          <div class="activity-content">
            <div class="activity-icon">
              <mat-icon>event_note</mat-icon>
            </div>
            <div class="activity-remind">
              <ul>
                <li>Votre conseillé : John Doh</li>
                <li>Rdv planifié : 10 mai 2020</li>
            </ul>
            <a mat-stroked-button class="pe-btn" href="https://www.pole-emploi.fr/accueil/" target="_blank" rel="noopener">pole-emploi.fr</a>
            <button mat-mini-fab class="event-btn" color="primary">
              <mat-icon>event_note</mat-icon>
            </button>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="profil-edition" *ngIf="toEdit">
    <div class="profil-edition-title">
      <h3>mise à jour de mes informations</h3>
    </div>
    <form class="edition-profil-form">
      <table cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="field">
              <mat-label>Pseudo</mat-label>
              <input matInput type="text" name="pseudo" placeholder="John" [(ngModel)]="pseudoValue">
              <button mat-button *ngIf="pseudoValue" matSuffix mat-icon-button aria-label="Clear" (click)="pseudoValue=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="field">
              <mat-label>Age</mat-label>
              <input matInput #age name="age" maxlength="2" placeholder="35" [(ngModel)]="ageValue">
              <mat-hint align="end">{{age.value.length}} / 2</mat-hint>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="field">
              <mat-label>Email</mat-label>
              <input matInput type="email" name="email" placeholder="john@doe.com" [(ngModel)]="emailValue">
              <button mat-button *ngIf="emailValue" matSuffix mat-icon-button aria-label="Clear" (click)="emailValue=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="field">
              <mat-label>Telephone</mat-label>
              <span matPrefix>+33 &nbsp;</span>
              <input type="tel" name="phone" matInput maxlength="13" placeholder="6 01 23 45 67" [(ngModel)]="phoneValue">
              <button mat-button *ngIf="phoneValue" matSuffix mat-icon-button aria-label="Clear" (click)="phoneValue=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="field">
              <mat-label>Langue</mat-label>
              <input matInput type="text" name="language" placeholder="Français, portugais, ..." [(ngModel)]="languageValue">
              <button mat-button *ngIf="languageValue" matSuffix mat-icon-button aria-label="Clear" (click)="languageValue=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="field">
              <mat-label>Profession</mat-label>
              <input matInput type="text" name="profession" placeholder="Boulanger" [(ngModel)]="professionValue">
              <button mat-button *ngIf="professionValue" matSuffix mat-icon-button aria-label="Clear" (click)="professionValue=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="field">
              <mat-label>Expérience</mat-label>
              <input matInput #experience name="experience" maxlength="2" placeholder="4" [(ngModel)]="experienceValue">
              <mat-hint align="end">{{experience.value.length}} / 2</mat-hint>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="field">
              <mat-label>Pays</mat-label>
              <input matInput type="text" name="country" placeholder="Portugal" [(ngModel)]="countryValue">
              <button mat-button *ngIf="countryValue" matSuffix mat-icon-button aria-label="Clear" (click)="countryValue=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-form-field class="field long-field-one">
        <mat-label>Description</mat-label>
        <textarea matInput name="description" placeholder="Ex. Je suis passionné par..." [(ngModel)]="descriptionValue"></textarea>
        <button mat-button *ngIf="descriptionValue" matSuffix mat-icon-button aria-label="Clear" (click)="descriptionValue=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="field long-field-two">
        <mat-label>Compétences générales</mat-label>
        <textarea matInput name="soft-skills" placeholder="Ex. marathonien, permaculture..." [(ngModel)]="softSkillsValue"></textarea>
        <button mat-button *ngIf="softSkillsValue" matSuffix mat-icon-button aria-label="Clear" (click)="softSkillsValue=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button mat-mini-fab disabled class="submit-btn">
        <mat-icon>done</mat-icon>
      </button>
      <button mat-mini-fab disabled class="reset-btn">
        <mat-icon>clear</mat-icon>
      </button>
    </form>

  </div>
</div>
