@import 'styles';

:host {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.mat-dialog-title {
  background: linear-gradient(
      to right, #57c1eb 0%, #246fa8 100%
    );
  color: #ffffff;
  text-align: center;
  padding: 10px 10px;
  font-size: 20px;
  margin: 0;
  .fr-title {
    margin-right: 10%;
  }
  mat-icon {
    font-size: 20px;
    color: #f5f5f5;
  }
  .en-title {
    margin-left: 10%;
  }
}

.mat-dialog-content {
  width: 80%;
  margin: auto;
  padding: 0 30px;
  form {
    mat-form-field {
      width: 80%;
      mat-autocomplete {
        mat-option {
          display: flex;
          flex-direction: row;
        }
      }
    }
  }
}

.flag {
  .flag-icon {
    margin-right: 10px;
    width: 34px;
    height: 24px;
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 5px;
    background-size: cover;
    margin: auto 10px;
    .country-name-native {
      margin-left: 50px;
      font-weight: bold;
      color: #3f4fb5;
    }
    .middle-language {
      color: #f08080;
      font-size: 20px;
    }
    .country-name-fr {
      color: #3f4fb5;
    }
  }

}

.mat-dialog-actions {
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;
  padding: 20px 30px;

  .logout-btn {
    padding: 7px 10px;
    background: linear-gradient(
      to right, #57c1eb 0%, #246fa8 100%
    );
    color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    outline: none;
    cursor: pointer;
    font-size: 12px;
    width: 145px;
    height: 40px;
    margin: 5px;
  }
  .cancel-btn {
    padding: 7px 10px;
    background: white;
    border: 1px solid #dddddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    outline: none;
    cursor: pointer;
    font-size: 12px;
    width: 130px;
    height: 40px;
    margin: 5px;
  }
}
