<h1 mat-dialog-title>
  <span class="fr-title">Langues disponibles</span>&nbsp;
  <mat-icon>translate</mat-icon>&nbsp;
  <span class="en-title">Available languages</span>
</h1>
<div mat-dialog-content>
  <form >
    <mat-form-field>
      <input matInput type="text" placeholder="Recherchez votre pays // Search for your country"
        [matAutocomplete]="auto" [formControl]="myCtrl"/>
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let country of filteredCountries | async" [value]="country" >
          <div class="flag">
            <span class="flag-icon flag-icon-{{ country.flag | lowercase }}">
              <span class="country-name-native">{{ country.countryNameNative }}</span>
              <span class="middle-language"> • </span>
              <span class="country-name-fr">{{ country.countryNameFr }}</span>
            </span>
          </div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div mat-dialog-actions>
      <button class="cancel-btn" (click)="cancel()">ANNULER</button>
      <button class="logout-btn" type="submit" (click)="confirm()">CONFIRMER</button>
    </div>
  </form>
</div>

